<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Resource Monitoring</title>
    <style>
        body { 
            font-family: Arial, sans-serif; 
            margin: 20px; 
        }
        h2 { 
            color: blue; 
        }
        p { 
            margin: 5px 0; 
        }
        pre { 
            background-color: #f4f4f4; 
            padding: 10px; 
            border-radius: 5px; 
        }
        iframe {
            width: 100%;
            height: 600px; /* Adjust the height as needed */
            border: none;
        }
    </style>
</head>
<body>

    <!-- Grafana Dashboard Embed -->
    <h3>System Metrics Dashboard</h3>
    <iframe 
        src="https://grafana.smithbrookstreams.com/d/be3go3tgkw0sgc/system-metrics?from=now-6h&to=now&timezone=browser"
        allowfullscreen>
    </iframe>


</body>
</html>

